<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="//use.typekit.net/qag4tqk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript" src="/javascript/hammer.js"></script>
    <script type="text/javascript" src="/javascript/jquery.hammer.js"></script>
    <script type="text/javascript" src="/contentflow.js" load="carousel"></script>
</head>
<body><div class="top ContentFlow">
	            <div class="loadIndicator"><div class="indicator"></div></div>
	            <div class="flow">
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	               <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <!--  <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/> -->
	            </div>
	            <div class="globalCaption"></div>
	            <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
	        </div>


    {{{ body }}}

    <div class="mannequin">
    	<div class="wrapper">
	    	<!-- <div class="modelHead">
	    		<span class="face">FACE</span>
	    	</div> -->

	    	


			<!-- <div class="bottom ContentFlow">
	            <div class="loadIndicator"><div class="indicator"></div></div>
	            <div class="flow">
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	            </div>
	            <div class="globalCaption"></div>
	            <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
	        </div>


	        <div class="shoes ContentFlow">
	            <div class="loadIndicator"><div class="indicator"></div></div>
	            <div class="flow">
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	                <img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
	            </div>
	            <div class="globalCaption"></div>
	            <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
	        </div> -->
    	</div>
    </div>


	<nav class="main">
		<div class="wrapper">
			<h1>
				<i class="icon-logo"></i>
			</h1>
			<!-- <div class="menutrigger">
				<span class="button">
					<i class="icon-list"></i>
				</span>
			</div> -->
			<div class="shuffle">
				<span>
					<i class="icon-cycle"></i>
				</span>
			</div>
		</div>
	</nav>

	<script>
        ContentFlowGlobal.setAddOnConf("carousel", {
        shownItems: 3,
        circularFlow : false,  //number of visible items
        // showCaption: true // show item caption
        // width: 100,     // relative item width
        // height: 100,    // relative item height
        space: 0.4      // relative item spacing
    });
    </script>

</body>
</html>
