<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="/javascript/hammer.js"></script>
    <script type="text/javascript" src="/javascript/jquery.hammer.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>
