
<div class="buy">
	<div class="wrapper">
		<div class="item">
			<div class="buybutton">
				<a href="#" class="button">
					<i class="icon-plus"></i>
					Buy
				</a>
			</div>
			<div class="back">
				<i class="icon-arrow-left-2"></i>
			</div>
			<img src="http://placekitten.com/g/640/640" alt="">
			{{! <div class="desc">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<div class="price">
				<span>$99</span>
			</div> }}
			
		</div>

	</div>
</div>