    <div class="mannequin">
    	<div class="wrapper">
	    	<div class="modelHead">
	    		<span class="face">FACE</span>
	    	</div>
			<div class="top ContentFlow">
		    <div class="loadIndicator"><div class="indicator"></div></div>
		        <div class="flow">
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<!-- {{#each tops}}
					<img class="item" src="{{this}}" title="Your_Image_Title"/>
					{{/each}} -->
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
					<img class="item" src="http://placekitten.com/640/640" title="Your_Image_Title"/>
		        </div>
		    <div class="globalCaption"></div>
		    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
		</div>

    	</div>
    </div>

<script type="text/javascript">
/* 
  $('h1')
    .hammer()
    .bind("doubletap", function(ev) {
      console.log(ev);
    })
    .bind("hold", function(ev) {
      console.log(ev);
    })
    .bind("swipe", function(ev) {
      console.log(ev);
    })
    .bind("tap", function(ev) {
      console.log(ev);
    });
*/
</script>
