<h1>{{ title }}</h1>

{{#each tops}}
  <img src='{{ this }}' />
{{/each}}

{{#each bottoms}}
  <img src='{{ this }}' />
{{/each}}

{{#each shoes}}
  <img src='{{ this }}' />
{{/each}}

<script type="text/javascript">
/* 
  $('h1')
    .hammer()
    .bind("doubletap", function(ev) {
      console.log(ev);
    })
    .bind("hold", function(ev) {
      console.log(ev);
    })
    .bind("swipe", function(ev) {
      console.log(ev);
    })
    .bind("tap", function(ev) {
      console.log(ev);
    });
*/
</script>
