    <div class="mannequin">
    	<div class="wrapper">
	    	<div class="modelHead">
	    		<span class="face">FACE</span>
	    	</div>
			<div class="top row">

			</div>
		    <div class="images" style="display: none;">
			    <div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
				<div class="item"><img src="http://placekitten.com/g/640/640" alt=""></div>
		    </div>
		</div>
    </div>

<script type="text/javascript">
var	carousel,
	el,
	i,
	page,
	slides;

slides = [];
carousel = new SwipeView('.top.row', {
	numberOfPages: slides.length,
	hastyPageFlip: true
});

$('.images .item').each(function() {
  console.log($(this).html());
  slides.push($(this).html());	
});

// Load initial data
 for (i=0; i<3; i++) {
	page = i==0 ? slides.length-1 : i-1;

	el = document.createElement('span');
	el.innerHTML = slides[page];
	carousel.masterPages[i].appendChild(el)
} 

carousel.onFlip(function () {
	var el,
		upcoming,
		i;

	for (i=0; i<3; i++) {
		upcoming = carousel.masterPages[i].dataset.upcomingPageIndex;

		if (upcoming != carousel.masterPages[i].dataset.pageIndex) {
			el = carousel.masterPages[i].querySelector('span');
			el.innerHTML = slides[upcoming];
		}
	}
});

</script>



<script type="text/javascript">
/* 
  $('h1')
    .hammer()
    .bind("doubletap", function(ev) {
      console.log(ev);
    })
    .bind("hold", function(ev) {
      console.log(ev);
    })
    .bind("swipe", function(ev) {
      console.log(ev);
    })
    .bind("tap", function(ev) {
      console.log(ev);
    });
*/
</script>
