// COLORS

yellow 	= #FFDA19
purple 	= #B21288
pink	= #FF00BB
blue 	= #14CCCC
aqua	= #00FFFF


// TYPOGRAPHY

font()
	font-family "futura-pt",sans-serif
	font-weight 600
	letter-spacing .2em

font-serif()
	font-family "garamond-premier-pro",serif
	// font-weight 600
	letter-spacing normal
	


title()

label()

text()
	

button()




i[class^=icon]
	position relative


animate()
	transition-property(all)
	transition-duration(0.1s)
