//imports

@import 'font.css'
@import nib
@import mixins






// start this shit

global-reset()

*, *:before, *:after
	box-sizing border-box


body
	background white
	font()

.wrapper
	padding 2%


nav.main
	fixed bottom
	width 100%
	background pink
	color white
	clearfix()
	h1
		font-size 50px
		float left
	.shuffle
		float right
		i
			font-size 50px
		
		
