@import 'font.css';
body {
  background: #fff;
  font-size: 100%;
}
.wrapper {
  padding: 2%;
}
nav.main {
  fixed: bottom;
  width: 100%;
  background: #ffc0cb;
  color: #fff;
  padding: 1em 0;
}
nav.main h1 {
  font-size: 100px;
  float: left;
}
nav.main .shuffle {
  float: right;
}
nav.main .shuffle i {
  font-size: 100px;
}
.mannequin {
  margin: 0 auto;
  background: #f00;
}
.mannequin .modelHead {
  margin: 0 auto;
  background: #00f;
}
.mannequin .modelHead .face {
  width: 50%;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 100px;
}
.mannequin .row .item {
  background: #ff0;
}
.mannequin .row .item .info {
  display: none;
}
