@import 'font.css';
i[class^=icon] {
  position: relative;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: #fff;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 100%;
}
.wrapper {
  padding: 2%;
}
nav.main {
  position: fixed;
  bottom: 0;
  ((null)): 0;
  width: 100%;
  background: #f0b;
  color: #fff;
  padding: 1.5em 1em;
  zoom: 1;
}
nav.main:before,
nav.main:after {
  content: "";
  display: table;
}
nav.main:after {
  clear: both;
}
nav.main h1 {
  font-size: 90px;
  float: left;
}
nav.main .shuffle {
  float: right;
  text-align: center;
  -webkit-border-radius: 160px;
  border-radius: 160px;
}
nav.main .shuffle i {
  font-size: 80px;
  text-shadow: 0 5px 0 #f0b, 0 8px 0 #fff;
}
.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 150px;
  text-align: center;
  padding: 400px 0;
  background: #f0b;
  color: #fff;
  height: 100%;
}
.splash + nav {
  display: none;
}
.mannequin {
  margin: 12% auto 0;
  height: 600px;
}
.mannequin .modelHead {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  text-align: -999em;
}
.mannequin .modelHead .face {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: #f0b;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.mannequin .row {
  border: none;
  background: #fff;
  margin: 20px auto;
  height: 240px;
}
.mannequin .row.bottom {
  margin-bottom: 0;
}
.mannequin .row.shoes {
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.mannequin .row.shoes img {
  max-width: 170px;
  height: auto;
  pointer-events: none;
}
.mannequin nav {
  width: 100%;
  position: absolute;
  top: 40%;
  ((null)): 0;
  font-size: 80px;
  top: 27%;
}
.mannequin nav span {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.mannequin nav span:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.mannequin nav:nth-child(2) {
  top: 47%;
}
.mannequin nav:nth-child(3) {
  top: 62%;
}
.mannequin nav .left {
  position: absolute;
  left: 80px;
  ((null)): 0;
}
.mannequin nav .right {
  position: absolute;
  right: 100px;
  ((null)): 0;
}
.buy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  margin-top: 120px;
}
.buy .item {
  margin: 5% 20%;
  font-family: "garamond-premier-pro", serif;
  letter-spacing: normal;
  font-size: 140%;
}
.buy .buybutton {
  display: block;
  background: #f0b;
  color: #fff;
  padding: 0 0 30px;
  margin: 0 0 40px;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 60px;
  text-transform: uppercase;
}
.buy .buybutton i {
  font-size: 80px;
  top: 15px;
  left: 20px;
}
.buy img {
  max-width: 100%;
  height: auto;
}
.buy .back {
  position: absolute;
  top: 40%;
  left: 40px;
  font-size: 100px;
  color: #f0b;
}
